/* header */
.d-header.clearfix{
    background-color: #ff4d4d;
}

.d-header{
    box-shadow: none;
    border-bottom: solid 1px #ff7272;
    margin-bottom: 0;
    height: 70px;
}

.d-header-icons .d-icon{
    color: #fff;
}

.d-header #site-logo{
    height: 70px;
}

.d-header .title{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.loupe-header{
    position: absolute;
    z-index: 999999;
    top: 14px;
}

/* container */
.wrap{
    max-width: 100%;
    padding: 0;
}

#main-outlet{
    padding-top: 70px;
}

/* welcome drama */
.welcome_title{
    background-color: #ff4d4d;
    height: 310px;
    color: #fff;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.welcome_title h1{
    margin-bottom: 0;
    font-weight: 300;
    padding-top: 70px;
    text-align: center;
}

/* contenu de la page */
.nav-pills>li a.active{
    color: #ff4d4d;
    background-color: #fff;
}

.list-controls .combo-box .combo-box-header{
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: #fff;
}

.nav-pills>li>a{
    color: #fff;
    text-transform: uppercase;
}

.list-controls .btn{
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
}

.list-controls{
    padding-top: 150px;
    max-width: 1280px;
    margin: 0 auto;
}

.container.list-container{
    max-width: 1280px;
    margin: 0 auto;
}

.topic-list.ember-view thead{
    display: none;
}

.topic-list.ember-view tbody{
    border-top: none;
    display: flex;
    flex-wrap: wrap;
}

.link-bottom-line, .topic-list .topic-excerpt{
    display: none !important;
}

.topic-list-item{
    display: flex;
    flex-direction: column;
    width: calc(33.33333% - 30px);
    margin-right: 30px;
    background-color: #fff;
}