.welcome_title{
    z-index: 0;
    padding-top:40px;
}

.welcome_title h1{
    font-size: 35px;
    line-height: 39px;
    padding-top: 20px;
    padding: 0 20px;
}

.welcome_title p{
    font-size: 16px;
    padding: 0 20px;
}

.list-controls{
    padding-top: 200px;
    padding-bottom: 0;
}

.d-header .title{
    left: 0;
    transform: translate(0%);
}

.d-header #site-logo{
    max-height: 60px;
}

.topic-list-item{
    width: 80%;
    margin: 0 auto 40px;
}

.topic-list.ember-view tbody{
    display: table-row-group;
}

.d-header {
    height: 70px;
}

.list-controls .navigation-container{
    flex-direction:column-reverse;
    align-items: center;
}

.list-controls .nav-pills>li{
    border: solid 1px #fff;
}

.list-controls .container #create-topic{
    justify-content: center;
}

.btn.btn-default.btn.btn-icon-text.ember-view{
    width: 150px;
    border: solid 1px #fff;
    border-radius: 20px;
    margin: 0 auto 30px !important;
}

.nav-pills>li>a .d-icon{
    opacity: 1;
}

.pull-left{
    float: initial;
}

.topic-list .right{
    margin-left: 0;
}

.list-controls .container #create-topic{
    flex-direction: row-reverse;
    z-index: 111;
}

.d-button-label, .selected-name{
    margin-right: 0;
    margin-left: 5px;
}

.topic-list-bottom h3{
    padding: 0 20px;
}

.drop li:last-child{
    display:none;
}

.topic-list-item td{
    display:none;
}

.topic-list-item .category-name{
    color: #000;
    text-transform: uppercase;
    text-align:center;
    font-size: 13px;
    padding: 15px 0 20px;
}

.topic-list-item span.relative-date{
    text-align:center;
    color: #808080;
    padding-bottom: 5px;
}

.topic-list-item .title{
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    text-transform: uppercase;
    padding: 0 20px 20px;
}

.topic-list-item .pull-left{
    text-align: center;
}

.topic-list-item.visited a.title:not(.badge-notification), .latest-topic-list-item.visited a.title:not(.badge-notification), .category-topic-link.visited a.title:not(.badge-notification){
    color: #000;
}

.num.views, .posts-map.badge-posts.heatmap-{
    width: 100%;
    font-size: 13px;
    padding: 5px 0;
}

.topic-list .posts-map{
    font-size: 13px;
    padding: 5px 0;
}

.num.posts-map.posts.heatmap-low{
    display:none;
}

.nav-pills>li>a:hover{
    background-color: transparent;
    color: #fff;
}

.category-list-item.category{
    background-color: #f6f6f6;
    margin-bottom: 30px;
    border:none;
}

.category-list-item.category .category-name{
    color: #000;
    text-transform: uppercase;
}

.category-topic-link .main-link .topic-inset .title{
    font-size: 14px;
}

.categories-list .category-list th{
    padding: 0;
}

.categories-list .category-list{
    width: 80%;
    margin: 0 auto 40px;
}

.topic-list th:first-of-type, .topic-list td:first-of-type{
    font-size: 13px;
}

.category-list-item.category .category-topic-link{
    display: flex;
    flex-direction: column;
}

.topic-list th:first-of-type, .topic-list td:first-of-type{
    padding-bottom: 10px;
}

.select-kit-header.btn-default.dropdown-select-box-header.period-chooser-header.btn.btn-icon-text.ember-view{
    width: 100%;
    border: none;
    margin-bottom: 0 !important;
    font-size: 12px;
    margin-top: 20px !important;
}

.topic-list .num a.badge-posts{
    font-size: 12px;
    font-weight: 300;
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-row{
    font-size: 12px;
}

.footer-message.ember-view{
    font-size: 13px;
    text-align:center;
}

.user-main{
    margin-top: 0;
}

.primary{
    padding-top: 40px;
    padding-bottom: 40px;
}

.user-profile-names .username{
    font-size: 24px !important;
}

.details .primary .controls{
    position: relative;
}

.user-main .about .primary{
    align-items: center;
}

.user-main .about .controls .btn{
    margin-bottom: 0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.user-main .about .controls .btn svg{
    margin-left: 5px;
}

.main-nav.mobile-nav.ember-view{
    background-color: #f6f6f6;
    border:none;
    width: 80%;
    display:block;
    top: 30%;
}

.user-content-wrapper .user-primary-navigation{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
}

.mobile-nav a .d-icon{
    color: #222222;
}

.user-primary-navigation .main-nav li{
    width: 100%;
}

.user-main .user-content{
    border-top: 1px solid #f6f6f6;
}

.user-primary-navigation{
    background-color: #fff;
}

.user-content .stats-section{
    padding: 20px 0 0;
    margin-top: 50px;
    margin-bottom: 30px !important;
}

.user-content .stats-section ul{
    width: 100%;
}

.user-content .stats-section ul li{
    flex: initial;
    width: calc(50% - 20px);
    text-align: left;
    margin: 0 10px 10px;
}

.user-content .stats-section .value{
    font-size: 26px;
}

.user-content .replies-section, .user-content .topics-section,
.user-content .summary-user-list, .links-section
{
    width: 80%;
    padding: 20px 0 1px;
    float: inherit;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
}

.user-content .replies-section p,
.user-content .topics-section p, .user-content .summary-user-list p,
.user-content .links-section p{
    text-align:left;
    padding: 0 25px;
}

.user-content .pull-left{
    float: initial;
}

.user-content .top-section{
    margin-bottom: 0;
}

.top-section, .top-sub-section{
    margin-bottom: 30px;
}

.user-main .collapsed-info.about .details .user-profile-avatar{
    flex: 0 0 100%;
    text-align: center;
    margin: 8px auto;
}

.user-main .about .details .primary h2{
    font-size: 1.1487em !important;
}

#reply-control .title-and-category, #reply-control .user-selector{
    display:block;
}

#reply-control .with-tags .title-input, #reply-control .category-input, #reply-control .with-tags .category-input{
    margin-left: 0;
    width: 100%;
}

.reply-to .toggle-toolbar.btn-flat{
    display:none;
}

.reply-area .submit-panel .save-or-cancel{
    flex-direction: column !important;
}

.reply-area .submit-panel .save-or-cancel .btn.btn-icon-text.btn-primary.create{
    width: 100%;
}

#reply-control .submit-panel .save-or-cancel .cancel{
    margin: 10px 0 0;
}

#reply-control .d-editor-button-bar{
    display:block;
    padding: 3px;
}

.bootbox.modal{
    max-width: 95%;
    left: 50%;
    transform: translateX(-50%);
}

#reply-control.open.edit-title{
    height: 100% !important;
    bottom: 0 !important;
    top: 50% !important;
}

#reply-control .submit-panel .save-or-cancel .cancel{
    font-size: 1em;
    text-transform: lowercase;
    text-decoration: underline;
}

.user-content-wrapper .user-secondary-navigation{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
}

.activity-nav{
    background-color: #f6f6f6;
    border: none;
    width: 80%;
    margin: 0 auto;
    top: 100%;
    height: 50px;
}

.user-primary-navigation .main-nav li{
    height: auto;
}

.controls.ember-view{
    padding-top: 0;
}

.user-content-wrapper .user-additional-controls+.user-content, .user-content-wrapper .user-secondary-navigation+.user-content{
    padding-top: 45px;
    border: none;
}

.mobile-nav>li>a{
    height: 50px;
    text-transform: initial;
}

.user-stream{
    max-width: 80%;
    width: 80%;
    margin: 0 auto 40px;
}

.user-stream .title{
    white-space: inherit;
    text-align: center;
}

.user-stream-item .category{
    text-align:center;
}

.user-stream-item .time{
    text-align:center;
    margin-bottom: 10px;
    float: initial;
}

.user-stream .avatar-link{
    float: initial;
    text-align:center;
}

.user-stream .avatar-wrapper{
    left: 50%;
    position: relative;
    transform:translateX(-50%);
    margin-bottom: 10px;
}

.topic-list tbody{
    border-top: none;
}