.main-link.clearfix{
    background-color: red;
}

.menu-container-faq-link{
    display:none;
}

.menu-links li:nth-child(5), .menu-links li:nth-child(6), .menu-links li:nth-child(7), .menu-links li:nth-child(5), .menu-links li:nth-child(8), .menu-links li:nth-child(9), .menu-container-footer-links .menu-links li:nth-child(1) {
    display:none;    
}


.user-nav li:nth-child(4), .user-nav li:nth-child(5), .user-nav li:nth-child(6){
    display:none;
}