body{
    overflow-x: hidden;
}

html{
   font-family: 'PT Sans', sans-serif;
}

.main-link.clearfix{
    background-color: red;
}

.menu-container-faq-link{
    display:none;
}

.menu-links li:nth-child(5), .menu-links li:nth-child(6), .menu-links li:nth-child(7), .menu-links li:nth-child(5), .menu-links li:nth-child(8), .menu-links li:nth-child(9), .menu-container-footer-links .menu-links li:nth-child(1) {
    display:none;
}


.user-nav li:nth-child(4), .user-nav li:nth-child(5), .user-nav li:nth-child(6){
    display:none;
}

/* header */
.d-header.clearfix{
    background-color: #ff4d4d;
}

.d-header{
    box-shadow: none;
    border-bottom: solid 1px #ff7272;
    margin-bottom: 0;
    height: 90px;
}

.d-header-icons .d-icon{
    color: #fff;
}

.d-header #site-logo{
    height: 90px;
}

.d-header .title{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.loupe-header{
    position: absolute;
    z-index: 999999;
    top: 14px;
}

/* container */
.wrap{
    max-width: 100%;
    padding: 0;
}

#main-outlet{
    padding-top: 70px;
}

/* welcome drama */
.welcome_title{
    background-color: #ff4d4d;
    height: 370px;
    color: #fff;
    position: absolute;
    width: 100%;
    z-index: -1;
    padding-top: 30px;
}

.welcome_title h1{
    margin-bottom: 0;
    font-weight: 300;
    font-size: 50px;
    line-height: 54px;
    padding-top: 70px;
    text-align: center;
}

.welcome_title p{
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    text-align: center;
    max-width: 600px;
    margin: 20px auto 0;
}

/* contenu de la page */
.nav-pills>li a.active{
    color: #ff4d4d;
    background-color: #fff;
    font-size: 13px;
}

.list-controls .combo-box .combo-box-header{
    text-transform: uppercase;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 13px;
}

.nav-pills>li>a{
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.list-controls .btn{
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.list-controls{
    padding-top: 285px;
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.container.list-container{
    max-width: 1280px;
    margin: 0 auto;
}

.topic-list.ember-view thead{
    display: none;
}

.topic-list.ember-view tbody{
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.topic-list .topic-excerpt{
    display:none;
}

.topic-list-item{
    display: flex;
    flex-direction: column;
    width: calc(33.33333% - 30px);
    margin-right: 30px;
    background-color: #f6f6f6;
    margin-bottom: 40px;
    border-bottom: none;
}

.main-link.clearfix{
    background-color: inherit;
    text-align:center;
    padding: 0;
}

.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg, .topic-statuses{
    display:none;
}

.topic-list .link-bottom-line {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    justify-content: center;
    padding: 25px 0;
    color: #808080;
}

.topic-list td.posters, .topic-list .posts, .topic-list .views, .topic-list .age{
    width: auto;
    text-align:center;
    padding: 0;
}

.topic-list .posters>a{
    float: initial;
}

.topic-list th:first-of-type, .topic-list td:first-of-type{
    padding-left: 0;
}

.replies__responses{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-top: 25px;
    border-top: solid 1px #e6e6e6;
}

.discourse-tags{
    display:none !important;
}

.badge-wrapper.bullet{
    margin-right: 0;
}

.topic-list th:first-of-type, .topic-list td:first-of-type{
    padding-bottom:15px;
    font-weight: 300;
    color: #808080 !important;
}

.badge-wrapper .badge-category .category-name{
    font-weight: 300;
    color: #808080;
}

.topic-list .num.activity a{
    padding: 0;
    color: #808080;
    font-weight: 300;
    font-size: 13px;
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title{
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    font-weight: 300;
    padding: 0;
}

td.main-link.clearfix{
    padding: 0 50px 20px;
}

.topic-list-item td:first-child, .topic-post{
    padding: 10px 0;
    border-right: 1px solid #e6e6e6;
}

.num.views,
.posts-map.badge-posts.heatmap-{
    width: 50%;
    text-align:center;
    color: #808080 !important;
    font-weight: 300;
}

.heatmap-med, .heatmap-med a,
.heatmap-low, .heatmap-low a{
    color: #808080 !important;
    font-weight: 300;
}

.discourse-no-touch .btn:hover, .discourse-no-touch .btn.btn-hover{
    background-color: #fff;
    color: #ff4d4d;
}

.numero__gras{
    font-weight: 700;
    color: #000;
}

.regular{
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 50px;
}

.regular .replies__responses{
    display: none;
}

.btn-primary{
    background: #ff4d4d;
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .date-section,
.select-kit.dropdown-select-box.period-chooser .period-chooser-header h2.selected-name .top-date-string,
.select-kit.dropdown-select-box.period-chooser .period-chooser-header .d-icon{
    color: #fff;
    font-weight: 300;
}

.select-kit .select-kit-header .caret-icon{
    height: 10px;
    width: 10px;
}

.fa.d-icon.d-icon-plus.svg-icon.svg-string{
    color: #fff;
}

.flex__div{
    flex-grow: 1;
}

.posts-map.badge-posts.heatmap-med{
    width:50%;
    text-align:center;
}

.d-button-label, .selected-name{
    margin-right: 5px;
}

.discourse-no-touch .btn:hover svg.fa.d-icon.d-icon-plus.svg-icon.svg-string, .discourse-no-touch .btn.btn-hover svg.fa.d-icon.d-icon-plus.svg-icon.svg-string{
    color: #ff4d4d !important;
}

.category-name{
    color: #fff;
}

.btn .fa{
    margin-right: 0;
}

.category-breadcrumb .ember-view span.category-name {
    color: #fff;
}

a{
    color: #ff4d4d;
}

#reply-control{
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
}

/* demander d'être supp */
.open .grippie, .reply-details, .toggle-fullscreen.btn-flat.ember-view,
#reply-control .composer-bottom-right, #reply-control .mini-tag-chooser,
#reply-control .save-or-cancel #draft-status, #reply-control .save-or-cancel #file-uploading,
.fa.d-icon.d-icon-times.svg-icon.svg-string{
    display: none !important;
}

#reply-control .with-tags .category-input{
    margin-right: 0;
}

#reply-control .with-tags .title-input, #reply-control .category-input, #reply-control .with-tags .category-input{
    flex: 1 1 46%;
    margin-left: 15px;
}

#reply-control .with-tags .title-input{
    margin-left: 0;
}

#reply-control .save-or-cancel{
   flex-basis: 100%;
   flex-direction: row-reverse;
   margin-top: 25px;
}

#reply-control .save-or-cancel .cancel{
    margin-left: 0;
    margin-right: 30px;
}


.replace_title_header-space{
    height:200px;
    width:100%;
    background-color: #ff4d4d;
}


.primary-textual{
    background-color: #ff4d4d;
}

.user-primary-navigation{
    background-color: #ff4d4d;
}

.details{
    background-color: #ff4d4d !important;
}

.primary{
    padding-top:60px;
}

.primary, .primary .avatar{
    margin:0px !important;
}

.user-profile-avatar{
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
    float:none !important;
}

.user-profile-avatar .avatar{
    width:70px !important;
    height:70px !important;
}

.user-profile-names .username { 
    text-transform: uppercase; 
    font-size:35px!important;
}

.user-profile-names .username, .user-profile-names .full-name{
    text-align:center;
    color:#FFFFFF;
}

.details .primary .controls{
    position:absolute;
    right: 0;
}

.details .primary .controls a, .details .primary .controls svg {
    text-transform:lowercase;
    background-color:transparent;
    color:#FFFFFF;
}

.user-primary-navigation .main-nav{
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-primary-navigation .main-nav li{
    height:50px;
    width:10%;
}

.user-primary-navigation .main-nav li a{
    height:50px;
    justify-content:center;
}

.secondary dl{ text-align: center; }
.secondary dt{ color:#FFFFFF !important; }

.about{
    margin-bottom:0 !important;
}

.stats-section{
    width:100%;
    text-align:center;
    margin-bottom:120px;
    margin-top:70px;
}

.stats-section ul{
    text-align:center;
    width:70%;
    display:flex;
    flex-wrap:wrap;
    margin:auto !important;
    text-transform: uppercase;
}

.stats-section .value{
    font-size:30px;
}

.stats-section .label{
    font-size:12px;
}

.stats-section ul li{
    flex: 1 0 21%;
  margin: 5px;
  height: 50px;
}

.user-content .top-section{
    text-align:center;
}

.user-content .badges-section, .top-categories-section{
    display:none;
}

.user-secondary-navigation{ text-transform: uppercase;}

.notification-history, .user-content .alert-info{
    margin-left:10%;
}

.user-additional-controls{display:none;}

.action-list{
    margin-left:30%;
}

.notification .time{
    position:absolute;
    right:10%;
}

.notification .d-icon-certificate {padding-right:30px;}

.control-group{ margin-bottom:35px !important; }

.control-group .control-label{ text-transform:uppercase; }

.controls .btn-primary{
    height:40px;
    width:45%;
}

.show-badge, .badges{
    margin-top:50px;
    margin-left:30px;
}

.user-preferences .control-group .combo-box-header{
    width:400px;
    height:40px;
}

.user-detail .details{
    background-color:transparent !important;
}












#reply-control .reply-to .composer-controls button{
    padding: 0;
}

#reply-control .reply-to{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.popin_add-topic::before{
    content:'';
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 9999;
}

.popin_add-topic{
    overflow-y:none;
}

#reply-control.open.edit-title{
    z-index: 99999;
    box-shadow: none;
}

#reply-control{
    z-index: 99999;
}

#reply-control .reply-area{
    padding: 30px 50px 15px;
}

#reply-control.hide-preview{
    max-width: 840px;
}

#reply-control .reply-to .d-icon{
    height: 25px;
    width: 25px;
}

.save-or-cancel .cancel{
    text-transform: uppercase;
    font-size: 12px;
}

.reply-arena .title-input.ember-view, .d-editor-input.ember-text-area.ember-view,
.select-kit-header.combo-box-header.is-none.ember-view{
    font-size:13px;
    color: #757575;
}

#reply-control #reply-title{
    font-size: 13px;
}

.select-kit .select-kit-row.is-highlighted{
    background: rgba(255,77,77,0.2);
}

#reply-control .save-or-cancel button{
    font-size: 13px;
    padding: 6px 20px;
}

.save-or-cancel .fa.d-icon.d-icon-plus.svg-icon.svg-string{
    display:none;
}

.save-or-cancel .d-button-label, .save-or-cancel .selected-name{
    margin-right: 0;
}

.d-editor-textarea-wrapper.disabled .d-editor-button-bar{
    visibility: initial;
}

.d-editor-button-bar{
    border-bottom: 1px solid #919191;
}

#reply-control .fa.d-icon.d-icon-chevron-down.svg-icon.svg-string line{
    stroke:#919191;
}

.titre_add_topic{
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus{
    border-color: #ff4d4d;
    box-shadow: 0 0 6px 0 #ff4d4d;
}

#reply-control.draft, #reply-control.saving{
    z-index: 99999;
}

.badge-category .category-name{
    color:#000000!important;
}

.top-section .stats-title{
    font-weight: 400;
}

.user-content .stats-section{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f6f6;
    padding: 40px 0;
}

.user-content .stats-section .value{
    font-weight: 400;
}

.user-content .stats-section .label{
    font-size: 13px;
}

.combo-box-header{
    color:#FFFFFF !important;
}

.user-main .about .details .primary h1{
    font-weight: normal;
}

.user-main .about.collapsed-info .details .primary{
    padding-bottom: 30px;
}

.nav-pills>li>a .d-icon{
    opacity: 1;
}

.user-main .about .details .user-profile-avatar{
    margin-bottom: 5px;
}

.nav-pills>li a.active:before{
    content:'';
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
}

.user-content-wrapper .nav-pills>li a.active{
    position: relative;
    color: #fff;
    background-color: transparent;
}

.user-content-wrapper .user-primary-navigation .main-nav li:after{
    content:'';
    width: 1px;
    height: 25px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0.3;
}

.user-content-wrapper .nav-pills>li a:hover{
    position: relative;
    color: #fff;
    background-color: transparent;
}

.user-primary-navigation .main-nav li:last-child:after{
    content: none;
}

.user-primary-navigation .nav-pills>li{
    margin-right: 0;
}

.user-primary-navigation .main-nav li{
    position: relative;
    width: 13%;
}

.user-preferences .form-vertical .control-label{
    font-weight: 300;
}

.user-main .about .secondary dd{
    color: #fff;
}

#topic-title h1{
    text-align:center;
    text-transform: uppercase;
    font-weight: 300;
}

#topic-title .title-wrapper{
    width: 100%;
    justify-content: center;
}

#topic-title .topic-category{
    margin-top: 30px;
    text-transform: uppercase;
}

#topic-title .topic-category span{
    color: #ff7272 !important;
    font-size: 16px;
}

.topic-list-item td:first-child, .topic-post{
    border-right: none;
}

.post-stream .topic-post{
    padding-top: 30px;
    padding-bottom: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.posts-wrapper .topic-body, .posts-wrapper .topic-avatar{
    border-top: none;
}

.posts-wrapper .topic-avatar{
    padding-top: 10px;
    padding-right: 25px;
}

.posts-wrapper .topic-body{
    background-color: #f6f6f6;
    width: calc(790px + (11px * 2));
    padding: 20px 10px;
}

#topic-footer-buttons .topic-notifications-button{
    display: none;
}

.post-stream{
    border-top: 1px solid #f6f6f6 !important;
    margin-top: 10px;
}

.boxed.onscreen-post .row{
    display: flex;
    justify-content: center;
}

.topic-meta-data .post-info.edits{
    display: none;
}

.d-header .extra-info-wrapper{
    display:none;
}

.map:first-of-type .buttons .btn,
.widget-button.btn-flat.share.no-text.btn-icon{
    display:none;
}

.topic-meta-data .post-info a,
.btn-flat .d-icon,
nav.post-controls button{
    color: #808080;
}
.topic-map section
.topic-body .regular.contents{
    padding-top: 20px;
    color: #6c6d6d;
}

.topic-body .regular.contents{
    padding-top: 15px;
    color:#6c6d6d;
}

.topic-map section, .topic-map{
    background-color: transparent;
}

.topic-map, .topic-map section{
    border: none;
    margin-bottom:0 !important;
}

.topic-map .map li, .topic-map li a{
    display: flex;
    align-items:center;
}

.map:first-of-type .buttons,
.timeline-container,
.small-action,
li.avatars{
    display: none !important;
}

.topic-map ul{
    width: 100%;
}

.widget-button.btn-flat.reply.create.fade-out.btn-icon-text{
    background-color: #ff4d4d;
    opacity: 1;
    color: #fff;
    width: 90px;
}

.widget-button.btn-flat.reply.create.fade-out.btn-icon-text:hover{
    background-color: #e24545;
}

.widget-button.btn-flat.reply.create.fade-out.btn-icon-text svg{
   display:none;
}

.d-button-label, .selected-name{
    margin-right: 0;
}

.topic-status-info{
    display: none;
}

#topic-footer-buttons{
    width: 902px;
    border-top: solid 1px #f6f6f6;
    padding: 30px 0;
    text-align: center;
    margin: 30px auto 0;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.suggested-topics .suggested-topics-title{
    justify-content: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 22px;
    padding: 10px 0 30px;
    margin-bottom: 0;
}

.suggested-topics{
    border-top: solid 1px #f6f6f6;
}

.suggested-topics-message{
    display:none;
}

#topic-footer-buttons .btn svg{
    display: none;
}

#topic-footer-buttons .btn{
    width: 90px;
}

.controls.ember-view{
    padding-top: 20px;
}

.controls.ember-view .alert.alert-info{
    background-color: transparent;
}

.topic-list-item-separator{
    display:none;
}